// @use 'styles/mixins/theme.scss' as themeMix;

.root {
  box-sizing: border-box;

  // position: absolute;
  // left: 0;
  // top: 0;
  // bottom: 0;
  // right: 0;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  transform: none;
  // z-index: 90;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  padding: 0 16px 16px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topPadding {
  padding-top: 16px;
}

.fullSpace {
  padding: 0;
}
