@use '../../../../../open-twa/src/styles/mixins/theme.scss' as themeMix;

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 16px 0;
}

.padding {
  padding-top: 16px;
}

.image {
  width: 100%;
  height: 216px;
  border-radius: 16px;
  background-color: var(--color-bg-button-tertiary);
  margin-bottom: 32px;
}

.line {
  height: 6px;
  background-color: var(--color-bg-button-tertiary);
  border-radius: 2px;
}

.line20 {
  width: 20%;
}

.line40 {
  width: 40%;
}

.line50 {
  width: 50%;
}

.mb16 {
  margin-bottom: 16px;
}

.mb28 {
  margin-bottom: 28px;
}

.mb48 {
  margin-bottom: 48px;
}

.listItem {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;

  &Media {
    width: 30px;
    height: 30px;
    background-color: var(--color-bg-button-tertiary);
    border-radius: 15px;
  }

  &Line {
    height: 6px;
    background-color: var(--color-bg-button-tertiary);
    border-radius: 2px;
    margin-left: 18px;
    width: 70%;
  }

  &::after {
    position: absolute;
    content: '';
    z-index: 10;
    left: 50px;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform-origin: center bottom;
    transform: scaleY(calc(1 / var(--k-device-pixel-ratio, 1)));

    @include themeMix.iosLight {
      background-color: #3c3c43;
      opacity: 0.36;
    }

    @include themeMix.iosDark {
      background-color: #545458;
      opacity: 0.65;
    }
  }
}
