.root {
  width: 56px;
  height: 56px;
  background-color: #007aff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  color: #fff;

  span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
